.module-container {
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 99% 100%, hsla(285,58%,85%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(239, 203, 170) 0px, transparent 50%),
    radial-gradient(at 98% 12%, rgb(216, 255, 232) 0px, transparent 50%),
    radial-gradient(at 0% 99%, hsla(343,100%,76%,1) 0px, transparent 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
}