body {
  background-color: #f1f1f1;
}

.linear-div{
    background-color: #4F5AF0;
    height: 0.5px;
    width: 100%;
}

/* #747483 */

.nav-btn-color:focus{
    background-color: #2F3CED !important;
    border-radius: 0 25px 25px 0 !important;
    color: white;
    outline: none !important;
}


.avatar {
  width: 65px;
  height: 65px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 5px solid white;
  border-radius: 100%;
}
.nav-icon-border {
  border-radius: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: #f5fbff;
  align-items: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
